{{ if ((not (.Params.disableGraph))) }}
    {{ if ne .File.Dir "blog/" }}
      {{ if ne .File.Dir "moc/" }}

        <div class="page-end">
            <div class="backlinks-container">
                {{partial "backlinks.html" .}}
            </div>
            <div>
                {{partial "graph.html" .}}
            </div>
        </div>
      {{end}}
  {{end}}
{{end}}

{{ if ((not (.Params.disableOutreach))) }}
  {{partial "outreach.html" .}}
{{end}}
{{partial "subscribe.html" .}}
{{partial "contact.html" .}}