<div class="page-list margin-top-2x">
    {{- range . -}}
    <a href="{{ .Permalink }}" class="page-list__page">
        <div class="section">
            <div class="desc">
                <h3>
                  {{if .Title}}
                      {{- .Title -}}
                  {{else}}
                      {{ $fileName := path.Base .File.Path}}
                      {{strings.TrimSuffix ".md" $fileName}}
                  {{end}}
                </h3>
                {{if  .Date }}<p class="margin-bottom">{{.Date.Format "January 2, 2006" }}</p> {{else}}{{end}}
                <p>{{- .Summary -}}{{if .Truncated}}...{{end}}</p>        
            </div>
            <p class="meta margin-top">
                <a href="{{ .Permalink }}"> Read More</a>
                <!-- {{ .ReadingTime }} minute read --> <!-- Last updated {{if ne .Date .Lastmod}}{{ .Lastmod.Format "January 2, 2006" }}{{else}}Unknown{{end}} -->
            </p>
        </a>
    </div>
    {{- end -}}
</div>
