<div class="page-list mt-5">
    {{- range . -}}
    <a href="{{ .Permalink }}" class="page-list__page">
        <div class="section mb-14">
            <div class="desc">
                <div class="card-header mb-2.5 inline-block">
                    <div class="grow font-bold text-xl align-text-bottom leading-6 article-title">
                        {{if .Title}}
                            {{- .Title -}}
                        {{else}}
                            {{ $fileName := path.Base .File.Path}}
                            {{strings.TrimSuffix ".md" $fileName}}
                        {{end}}
                    </div>
                    {{if  .Date }}<div class="shrink text-xs align-text-bottom whitespace-nowrap mt-2 text-gray-500 leading-6">{{.Date.Format "January 2, 2006" }}</div> {{else}}{{end}}
                </div>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{- .Summary -}}{{if .Truncated}}..{{end}}</p>
            </div>
            <div class="meta mt-4">
                <a class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" href="{{ .Permalink }}"> Read More</a>
                <!-- {{ .ReadingTime }} minute read --> <!-- Last updated {{if ne .Date .Lastmod}}{{ .Lastmod.Format "January 2, 2006" }}{{else}}Unknown{{end}} -->
            </div>
        </a>
    </div>
    {{- end -}}
</div>
