form.formkit-form {
  background: #FEFCF6 !important;
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, .05);
}

.formkit-guarantee {
  display: none;
}

.formkit-form {
  background: none !important;
}

.formkit-powered-by-convertkit-container {
  display: none !important;
}

.formkit-form[data-uid="498077a8fd"][min-width~="600"] [data-style="minimal"] {
  padding: 0px 20px 15px 20px !important;
}

.formkit-form[data-uid="498077a8fd"] {
  max-width: 100% !important;
}

.formkit-form h1,
.formkit-form h2,
.formkit-form h3,
.formkit-form h4,
.formkit-form h5 {
  font-weight: 800 !important;
  font-family: "p22-mackinac-pro", serif;
  font-style: normal;
  @apply text-blue-950 !important;;
  @apply text-4xl !important;
  @apply leading-10;
  @apply my-2 !important;
}