:root {
  --light: #faf8f8;
  --dark: #423832;
  --secondary: #192845;
  --tertiary: hsla(219, 47%, 18%, 0.9);
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

html {
  font-size: 18px;
  background-color: hsl(48,60%,98%);
}

hr {
  width: auto;
}

p {
  margin-block-start: 0em;
}

.hanchor {
  display: none;
}

.singlePage {
  padding-top: 0px;

  h1,h2,h3,h4,h5 {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  ul {
    margin-top: 0px;
    li {
      margin-bottom: 6px;

      p {
        margin-block-end: 0px;
      }
    }
  }

  blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
  }
}

article>.meta {
  margin: 0px 0 1em;
}

.section-li {
  h3 {
    margin-top: 0px;
  }

  p {
    margin-bottom: 0px
  }
}

a.page-list__page {
  font-weight: normal;
  font-weight: 300;
}

.section-ul>li{
  padding: 1em;
}

article > h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  line-height: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.1em !important;
  text-wrap: balance;
}

article > p.meta {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
  margin-bottom: 2em;
}

article {
  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  & a {
    font-family: Source Sans Pro;
    font-weight: 600;
    color: #192845;
    transition: all .2s ease-in-out;
    display: inline-block;
    position: relative;
    z-index: 0;
    mix-blend-mode: multiply;

    &.internal-link {
      color: #192845;
      text-decoration: none;
      background-color: none;
      padding: 0 0.1em;
      margin: auto -0.1em;
      border-radius: 3px;

      --mark-color: #f8db75;
      --mark-skew: 0.25em;
      --mark-height: 1.2em;
      --mark-overlap: 0.4em;

      &:hover {
        transform: rotate(-1.5deg) scale(1.05);
        display: inline-block;
      }

      margin-inline: calc(var(--mark-overlap) * -1);
      padding-inline: var(--mark-overlap);

      background-color: transparent;
      background-image:
        linear-gradient(to bottom right,
          transparent 50%,
          var(--mark-color) 50%),
        linear-gradient(var(--mark-color),
          var(--mark-color)),
        linear-gradient(to top left,
          transparent 50%,
          var(--mark-color) 50%);
      background-size:
        var(--mark-skew) var(--mark-height),
        calc(100% - var(--mark-skew) * 2 + 1px) var(--mark-height),
        var(--mark-skew) var(--mark-height);
      background-position:
        left center,
        center,
        right center;
      background-repeat: no-repeat;

      &.broken {
        opacity: 0.5;
        background-color: transparent;
      }
    }
  }

  & p {
    overflow-wrap: anywhere;
  }
}